body{
    background: rgb(139, 95, 95);
    background-size: cover;
}
div.op1{
    border: 5px solid transparent;
    background: linear-gradient(146deg,rgb(17, 67, 106), rgb(59, 82, 212)) padding-box,
    linear-gradient(to right, rgb(220, 122, 11), rgb(97, 14, 139)) border-box;
    border-radius: 30px;
    box-shadow: 2px 2px 30px rgb(78, 26, 26);
    /* margin: 0px 40% 0px 40%; */
    width: 500px;
    height: 400px;
    display: block;
    font-family: monospace;
    text-align: center;
    transition: .2s;
    padding: 0;
    text-align: center;
}
div.op:hover{scale:1.2; transition: .2s;}
h1{
    text-shadow: 2px 1px 3px rgb(126, 126, 166);
    display: inline;
    font-size: 40px;
}
div.op1:hover {
    box-shadow: 2px 2px 50px rgb(87, 18, 18);
    transition: .5s;
}
img {
    padding-left: 0px;
    width:200px;
    height:200px;
    border-radius: 50%;
    display: inline;
}
p{
    font-size: 15px;
}
#email{
    height: 40px;
    width: 40px;
    display: inline;
}
span{
    display: inline;

}
*{color:rgb(24, 11, 11)}
a {
    text-decoration: none;
    border: 4px solid transparent;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.137);
}
a:hover {
    background-color: rgba(0, 0, 0, 0.247);

}